html, body {
    background: #333;
    color: #fff;
    font-family: 'Roboto slab', serif;
  }
  a:link, a:visited {
    color: #FFFFFF;
  }
  a:hover, a:active {
   background-color: #ccc;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 50px auto 50px auto;
    grid-auto-flow: column;
  }
  .header {
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
  }
  .main {
    grid-column-start: 2;
    grid-row-start: 4;
    text-align: center;
  }
  h1 {
    font-size: 4em;
  }
